<div class="jumbotron center">
	
	<% if user_signed_in? %>
		# Do something

	<% else %>	
		<h1>Welcome to my app!</h1>

		<p>Click here to <%= link_to "Sign up!" , new_user_registration_path , class: "btn btn-primary" %> 
		</p>
	<% end %>	
</div>